/*****************************************************************/
/*Layout*/

/*Fix non-html5 browsers*/
header, section, footer, aside, nav, main, article, figure {
    display: block;
}

/*map html to css-grid*/
nav      {grid-area: sidebar; }
aside    {grid-area: sidebar2;}
main     {grid-area: content;}
header   {grid-area: header;}
footer   {grid-area: footer;}

/*use exactly 100% of screen*/
html, body, .wrapper, main, iframe, header, aside{
    margin: 0;
    padding: 0;
    border: 0;
}
.wrapper {
    height: 100vh;
    width: 100%;
}

/*Define the grid*/
.wrapper {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 120px auto;
    grid-template-rows: min-content auto min-content;
    
    grid-template-areas:
        "header  header"
	"sidebar content"
        "footer footer";
}

/*Main keep out of the way. Use grid as it behaves well*/
main {
    zdisplay:grid;
    zheight: 0; /*stretch to fit*/
    height: auto;
    overflow: auto;
}

/*****************************************************************/
/*style*/

.box {
  border-radius: 5px;
  padding: 0;
}

header, footer {
  background-color: #999;
}

aside {
  background-color: #eee;
}

/*style nav bar*/
nav ul {
    list-style-type: none;
    padding-top: 0;
    font-family: serif;
}

nav ul > li {
    margin-top: 0.5em;
    border-radius: 5px;
    border: 1px;
    background-color: #ccc;
}

nav ul > li:first-child{
   margin-top: 0;
}

nav ul > li{
    padding: 0.1em;
}

nav ul,
nav {
    padding: 0;
    margin:0;
}

textarea {
    overflow: hidden;
    min-height: 50px;
}